<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>


    <nav>
        
        {% if request.user.is_authenticated %}
                <h3>{{ request.user.username }}</h3>
                <a href="{% url 'my_logout_url' %}">LOGOUT</a>
                <a href="{% url 'my_create_url' %}">CREATE</a>



        {% else %}
                <a href="{% url 'my_login_url' %}">login</a>
                <a href="{% url 'my_register_url' %}">register</a>
        {% endif %}


    </nav>

    <hr style="margin: 20px;">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <section class="blogs">

        {% for blog in blogs %}
        
        <div class="blog">
            {% if blog.image %}
            <img src="{{ blog.image.url }}" alt="">
            {% endif %}

            <div class="content">
                <h1>{{ blog.title }}</h1>
                <p>{{ blog.body }}</p>
            </div>
            <a href="{% url 'my_details_url' blog.id %}" style="position: absolute; right: 40px; bottom: 20px;">details</a>
            {% if request.user == blog.author %}
            <a href="{% url 'my_update_url' blog.id %}" style="position: absolute; right: 120px; bottom: 20px;">update</a>
            <a href="{% url 'my_delete_url' blog.id %}" style="position: absolute; right: 200px; bottom: 20px;">delete</a>

            {% endif %}
        </div>

        {% endfor %}




    </section>

</body>
</html>