<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <h1>hello world</h1>
    <hr>
    <p>this is my first website home page</p>



    <hr>

    {% if person %}

        <h1>{{ person.first_name }}</h1>

        {% if person.jalali_date %}
        <h1>{{ person.jalali_date }}</h1>
        {% endif %}

    {% else %}

    <h1>there is no such a user</h1>

    {% endif %}


<hr>
<hr>
<hr>
    {% for user in users %}

    
    <h2>{{ user.first_name }}</h2>

    {% endfor %}

<hr>
<hr>
<hr>
    <hr>
    <br>
    <a href="{% url 'my_login_url' %}">my link to login page</a>
    <br>
    <a href="{% url 'my_home_url' %}">my link to home page</a>
    <br>
    <a href="{% url 'my_register_url' %}">my link to register page</a>
    <br>
    <a href="{% url 'my_products_url' %}">my link to products page</a>
    <br>
    <script src="{% static 'js/scripts.js' %}"></script>
    <br>
    <h2>Login</h2>
    <hr>
    <form action="" method="POST">
        {% csrf_token %}

        <input type="text" name="phone" placeholder="phone" required>
        <input type="password" name="password" placeholder="password" required> 

        <button type="submit">submit</button>
    </form>

    <h4>your user name is : {{ usernamekey }}</h4>
    <h4>your phone is : {{ phonekey }}</h4>

</body>
</html>