<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <h1>hello world</h1>
    <hr>
    <p>this is my first website login page</p>
    <br>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    
    <a href="{% url 'my_login_url' %}">my link to login page</a>
    <br>
    <a href="{% url 'my_home_url' %}">my link to home page</a>
    <br>
    <a href="{% url 'my_register_url' %}">my link to register page</a>
    <br>
    <a href="{% url 'my_products_url' %}">my link to products page</a>
    <br>

    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>