<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <h1>register page</h1>
    <p>this is my first website register page</p>


    <hr>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <hr>
    <hr>
    <form action="" method="POST">
        {% csrf_token %}

        <div class="form-holder" style="display: flex; flex-direction: column; gap: 15px; width: fit-content;">

        <input type="text" placeholder="first name" required name="firstName">
        <input type="text" placeholder="last name" required name="lastName">
        <input type="text" placeholder="phone" required name="phone">
        <input type="password" placeholder="password" required name="password">
        <input type="password" placeholder="repeat password" required name="repeatedPassword">
        <input type="email" placeholder="email" name="email">


        </div>

        <button type="submit" style="padding: 15px; margin: 15px;">register</button>
    </form>


    <hr>
    <br>
    <a href="{% url 'my_login_url' %}">my link to login page</a>
    <br>
    <a href="{% url 'my_home_url' %}">my link to home page</a>
    <br>
    <a href="{% url 'my_register_url' %}">my link to register page</a>
    <br>
    <a href="{% url 'my_products_url' %}">my link to products page</a>
    <br>


    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>