<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- add this to form for hadling image upload enctype="multipart/form-data" -->
    <form action="" method="POST" enctype="multipart/form-data" style="display: flex; flex-direction: column; width: fit-content; gap: 15px;">
        {% csrf_token %}
        <input type="file" name="image">
        <input type="text" value="{{blog.title}}" placeholder="title" name="title">
        <textarea name="body" id="" placeholder="body">{{blog.body}}</textarea>
        <hr>
        <label for="">author</label>

        <select name="author" id="">
            {% for user in users %}
                
                {% if user.id == blog.author.id %}
                <option selected value="{{user.id}}">{{user.username}}</option>
                {% else %}
                <option value="{{user.id}}">{{user.username}}</option>

                {% endif %}
            {% endfor %}

        </select>
        <button type="submit">create</button>
    </form>

</body>
</html>